/coverage
/build

.vscode/
.idea/
nbproject/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pem

pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
.nyc_output
.grunt
.lock-wscript

bower_components
node_modules/
jspm_packages/

.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.sass-cache

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
